<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.cjf.lx03.dao.AreaMapper">
  <resultMap id="BaseResultMap" type="io.cjf.lx03.po.Area">
    <id column="area_id" jdbcType="INTEGER" property="areaId" />
    <result column="area_name" jdbcType="VARCHAR" property="areaName" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
  </resultMap>
  <resultMap id="AreaNode" type="io.cjf.lx03.vo.AreaNode">
    <id column="area_id" jdbcType="INTEGER" property="areaId" />
    <result column="area_name" jdbcType="VARCHAR" property="areaName" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <collection property="subAreaNode" javaType="ArrayList" column="area_id" ofType="io.cjf.lx03.vo.AreaNode" select="selectChildren"/>

  </resultMap>
  <sql id="Base_Column_List">
    area_id, area_name, parent_id
  </sql>
  <select id="selectChildren" parameterType="java.lang.Integer" resultMap="AreaNode">
    select
    <include refid="Base_Column_List" />
    from area
    where parent_id = #{areaId,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from area
    where area_id = #{areaId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from area
    where area_id = #{areaId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="io.cjf.lx03.po.Area">
    insert into area (area_id, area_name, parent_id
      )
    values (#{areaId,jdbcType=INTEGER}, #{areaName,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="io.cjf.lx03.po.Area">
    insert into area
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="areaId != null">
        area_id,
      </if>
      <if test="areaName != null">
        area_name,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="areaId != null">
        #{areaId,jdbcType=INTEGER},
      </if>
      <if test="areaName != null">
        #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="io.cjf.lx03.po.Area">
    update area
    <set>
      <if test="areaName != null">
        area_name = #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
    </set>
    where area_id = #{areaId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.cjf.lx03.po.Area">
    update area
    set area_name = #{areaName,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER}
    where area_id = #{areaId,jdbcType=INTEGER}
  </update>
</mapper>